<nav>
    <div class="navbar-container">
        <div class="logo">
            <a href="../index.html">Logo</a> 
        </div>
        <ul class="navbar">
            <li><a href="../index.html">Home</a></li>
            <li><a href="../auth/register.html">Register</a></li>
            <li><a href="../auth/login.html">Login</a></li>
            <li><a href="../auth/forgot-password.html">Forgot Password</a></li>
            <li><a href="../auth/reset-password.html">Reset Password</a></li>
        </ul>
    </div>
</nav>
